/**
 *
 * @author: Gabriel Mayta
 * @email : grandemayta@gmail.com
 *
 */
@import "githubflix";
@import "swiper";

* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  border-radius: 0;
  cursor: default;
}

$background-primary: #141414;
$background-secondary: #000;
$text-primary: #999;
$text-secondary: #fff;
$text-logo: #e50914;
$button-primary: #e50914;
$background-transparent: rgba(0, 0, 0, 0.6);

body {
  background: $background-primary;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  margin: 10px 0;
  font-size: 22px;
  text-align: center;
  color: $text-secondary;
}

h2 {
  padding: 20px 0 10px 20px;
  font-size: 18px;
  color: $text-primary;
}

h1, h2 {
  display: block;
  width: 100%;
}

/************************ HEADER ************************/
header {
  position: absolute;
  display: table;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: $background-transparent;
}

header i {
  display: table;
  margin: 12px 0 0 14px;
  font-size: 34px;
  vertical-align: middle;
  color: $text-secondary;
}

header a {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  padding-left: 14px;
  color: $text-logo;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

/************************ SECTION ************************/
section {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 10px;
  overflow: auto;
}

.card-container {
  display: table;
  width: 94%;
  height: 100px;
  margin: 3% 3% 0 3%;
  background: $background-transparent;
}

.card-container figure {
  display: table;
  width: 80px;
  height: 80px;
  margin: 10px 0 0 10px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.card-container h3 {
  display: table-cell;
  width: 100%;
  height: 100px;
  vertical-align: middle;
  padding-left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: $text-secondary;
}

.card-container i {
  display: table-cell;
  height: 100px;
  padding: 0 10px;
  vertical-align: middle;
  font-size: 18px;
  color: $text-secondary;
}

/*************** SLIDER CONTAINER **************/

.slider-main-container {
  padding-left: 20px;
}

.slider-container {
  display: block;
  width: 138px;
  height: 78px;
  text-align: center;
  background: $background-transparent;
  overflow: hidden;
}

.text-primary-left {
  display: block;
  width: 100%;
  height: 58px;
  padding: 10px;
  font-size: 14px;
  text-align: left;
  color: $text-secondary;
  word-break: break-all;
}

.text-bottom-right {
  text-align: right;
}

.text-botton-center {
  text-align: center;
}

.text-bottom-right, .text-botton-center {
  display: block;
  width: 100%;
  padding-right: 10px;
  font-size: 12px;
  color: $text-logo;
  text-transform: lowercase;
}

.image-primary-center {
  display: block;
  width: 120px;
  height: 120px;
  margin: 20px auto 10px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.image-secondary-center {
  display: block;
  width: 50px;
  height: 50px;
  margin: 5px auto 5px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

/*************** SPINNER **************/

.display-none {
  display: none;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 20px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}