/**
 *
 * @author: Gabriel Mayta
 * @email : grandemayta@gmail.com
 *
 */

$background-primary: #141414;
$background-secondary: #000;
$text-primary: #999;
$text-secondary: #fff;
$text-logo: #e50914;
$button-primary: #e50914;
$background-transparent: rgba(0, 0, 0, 0.6);